body {
  background-color: white;
  color: forestgreen;
  font-size: 18px; }

h1 {
  background-color: white;
  color: black;
  font-size: 64px;
  text-align: center; }

p {
  background-color: white;
  color: black;
  font-size: 18px; }
